body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.logotype, .logo-span-one, .logo-span-two, .menu, .menu-link, .contact-list, .contact-link, .benefits-list, .team-list, .portfolio-list {
    text-decoration: none;
    list-style-type: none;
}

.logotype {
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-span-one {
    color: #2E2F42;
}

.menu-link {
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-link:hover, .menu-link:focus {
    color: #404BBF;
}

.contact {
    font-style: normal
}

.contact-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover, .contact-link:focus {
    color: #404BBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero {
    background-color: #2E2F42;
}

.main-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button {
    background-color: #4D5AE5;
    color:#FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button:hover, .button:focus {
    background-color: #404BBF;
}

.benefits-list-title {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-list-text {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color:#F4F4FD;
}

.team-list-item {
    background-color: #FFFFFF;
}

.benefits-section-title, .team-section-title, .portfolio-section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list-title, .portfolio-list-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
}

.team-list-text, .portfolio-list-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio {
    background-color: #FFFFFF;
}

.footer-section {
    background-color: #2E2F42;
}

.logo-span-two {
    color:#F4F4FD;
}

.footer-text {
    color:#F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}